html {
  font-size: 18px;
  scroll-behavior: smooth;
  color: rgb(90, 90, 90);
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input, button, textarea, select {
  font: inherit;
}
h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}
ol, ul {
  list-style: none;
}
#root, #__next {
  isolation: isolate;
}